src/main/webapp/WEB-INF/xsd/hello.xsd

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema"
           xmlns:tns = "http://specialist.ru/schemas"
           targetNamespace = "http://specialist.ru/schemas"
           elementFormDefault = "qualified">

    <xs:element name = "helloRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name = "helloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "greeting" type = "xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>